footer {
    width: 100vw;

    background-color: white;
    padding: 5rem 0;

    border-bottom: 1rem solid #44BD5F;

    margin-bottom: 20rem;
    position: relative;
    z-index: 500;

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 4rem;

        .row {
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            ul {
                display: flex;
                flex-direction: column;
                gap: 1.2rem;
                width: 50%;

                li {
                    strong {
                        font-size: 2rem;
                        font-family: monospace;
                    }
                    a {
                        font-size: 1.6rem;
                        color: #111111;
                    }
                }
            }

            &:last-of-type {
                ul li a {
                    font-size: 1.4rem;
                }
            }
        }
    }
}

#footer-logo {
    padding-top: 200rem;
    padding-bottom: 5rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 0;
    background-color: #111111;
    
    .wrapper {
        background-image: url("../assets/images/footer_logo.png");
        background-size: contain;
        background-position: center;
        height: 10rem;
        background-color: transparent;
        background-repeat: no-repeat;
    }
}