nav {
    width: 100vw;
    background-color: transparent;

    position: fixed;
    z-index: 1000;
    background-color: $black; //#e3e3e4;
    border-bottom: 7px solid transparent;

    ul {
        display: none;
    }

    &.border {
        border-bottom: 7px solid transparent;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-items: center;
    }
    
    #logo {
        width: 14rem;
        margin: 1.5rem 0;
        img {
            width: 100%;
        }
    }

    #hamburger {
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.6rem;

        position: relative;
        width: 2.5rem;
        height: 2.5rem;
        overflow: hidden;

        span {
            display: block;
            height: 0.1rem;
            background-color: white;
            width: 100%;
            opacity: 1;
            transition: 0.3s;

            &:nth-of-type(1) {
                &.active {
                    transform: rotate(45deg) translate(5px, 5px);
                }
            }

            &:nth-of-type(2) {
                width: 80%;
                &.active {
                    width: 0%;
                    opacity: 0;
                }
            }

            &:nth-of-type(3) {
                &.active {
                    transform: rotate(-45deg) translate(5px, -5px);
                }
            }

        }
    }
}

menu {
    background-color: $black;
    position: fixed;
    left: -100%;
    transition: 0.4s;
    width: 80vw;
    height: 100vh;
    z-index: 999;

    display: flex;
    padding-top: 7.5rem;
    box-sizing: content-box;

    &.open {
        left: 0%;
    }
    
    ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: Min(90vw, 1300px);
        margin: 0 auto;
        position: relative;
        z-index: 2;


        li {
            transform: scale(0.89);
            a {
                padding: 1.2rem 0rem;
                color: white;
                font-size: 1.8rem;
                font-family: monospace;
                width: calc(100% - 10px);
                margin: 0 auto;
                display: block;
            }

            &:last-of-type {
                a {
                    border-bottom: none;
                }
            }
        }
    }
}

@media only screen and (min-width: 720px)  {
    nav {
        #hamburger {
            display: none;
        }

        ul {
            display: flex;
            height: 4rem;
            align-items: center;
            margin-right: -1.5rem;

            li {
                height: 100%;
                display: inline-block;

                a {
                    color: white;
                    font-size: 1.6rem;
                    font-family: monospace;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding: 0 1.5rem;
                    transition: 0.3s;

                    &:hover {
                        color: $green;

                    }
                }
            }
        }
    }
}