nav {
    width: 100vw;
    padding: 2rem;
    background-color: transparent;

    display: flex;

    position: fixed;
    z-index: 1000;
    background-color: transparent; //#e3e3e4;
    
    #logo {
        width: 10rem;
        img {
            width: 100%;
        }
    }
}