* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 0;
    text-decoration: none;

    font-size: 62.5%;
    font-family: "Montserrat", serif;
    overflow-x: hidden;

    scroll-behavior: smooth;
}

.wrapper {
    width: Min(90vw, 1300px);
    margin: 0 auto
}

@import "navigation";
@import "header";

#test {
    width: 100vw;
    height: 100vh;
    background-color: #e3e3e3;
    position: absolute;
    top: 100vh;
    left: 0vh;

    display: flex;
    align-items: center;

    img {
        transform: rotate(90deg);
    }

    div {
        height: 0%;
        background-color: gray;
        margin-top: 50vh;
    }
}

#test2 {
    width: 100vw;
    height: 300vh;
    background-color: #111111;
    position: absolute;
    top: 120vh;
    left: 0vh;
    opacity: 1;
}

#test3 {
    width: 100vw;
    height: 150vh;
    position: absolute;
    top: 100vh;
    left: 0;
    background-color: #111111;
}