* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 0;
  text-decoration: none;
  font-size: 62.5%;
  font-family: "Montserrat", serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body, html {
  background-color: #161718;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#parent {
  -webkit-transition: 0.38s;
  transition: 0.38s;
  position: relative;
  left: 0vh;
}

#parent.menu {
  left: -45vw;
}

.wrapper {
  width: Min(90vw, 1300px);
  margin: 0 auto;
}

nav {
  width: 100vw;
  padding: 1.5rem 0;
  background-color: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: fixed;
  z-index: 1000;
  background-color: #161718;
}

nav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav #logo {
  width: 10rem;
}

nav #logo img {
  width: 100%;
}

nav #hamburger {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.6rem;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
}

nav #hamburger span {
  display: block;
  height: 0.1rem;
  background-color: white;
  width: 100%;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav #hamburger span:nth-of-type(1).active {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

nav #hamburger span:nth-of-type(2) {
  width: 80%;
}

nav #hamburger span:nth-of-type(2).active {
  width: 0%;
  opacity: 0;
}

nav #hamburger span:nth-of-type(3).active {
  -webkit-transform: rotate(-45deg) translate(5px, -5px);
          transform: rotate(-45deg) translate(5px, -5px);
}

menu {
  background-color: #161718;
  position: fixed;
  left: -100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 80vw;
  height: 100vh;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 6rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

menu.open {
  left: 0%;
}

menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  width: Min(90vw, 1300px);
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

menu ul li {
  -webkit-transform: scale(0.89);
          transform: scale(0.89);
}

menu ul li a {
  padding: 1.2rem 0rem;
  color: white;
  font-size: 1.8rem;
  font-family: monospace;
  width: calc(100% - 10px);
  margin: 0 auto;
  display: block;
}

menu ul li:last-of-type a {
  border-bottom: none;
}

header {
  width: 100vw;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  position: relative;
  z-index: 500;
}

header h1 {
  font-size: 3.5rem;
  font-family: monospace;
  font-weight: 400;
  margin-bottom: 4.5rem;
  color: white;
  line-height: 150%;
}

header .container {
  width: 100vw;
  background-color: #161718;
  border-bottom: 10px solid #3bb357;
}

header .container:last-of-type {
  background: white;
  padding: 4rem 0 0;
  border: none;
}

header .container .wrapper {
  padding-top: 8rem;
}

header button {
  margin: 4rem auto 2rem;
  background-color: #3bb357;
  font-size: 2rem;
  display: block;
  padding: 1rem 2rem;
  font-family: monospace;
  border: 2px solid #161718;
  -webkit-box-shadow: 5px 5px #161718;
          box-shadow: 5px 5px #161718;
}

header .carousel {
  pointer-events: none;
  -webkit-perspective: 100px;
          perspective: 100px;
  width: 100%;
}

header .carousel__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 48rem;
}

header .carousel .item {
  position: absolute;
  width: Min(90vw, 418px);
  height: 100%;
  opacity: 0;
  will-change: transform, opacity;
  -webkit-animation: carouselanimate 27s cubic-bezier(0.37, 0, 0.63, 1) infinite;
          animation: carouselanimate 27s cubic-bezier(0.37, 0, 0.63, 1) infinite;
  padding: 2rem 0;
}

header .carousel .item:nth-child(1) {
  -webkit-animation-delay: calc(3.85714s * -1);
          animation-delay: calc(3.85714s * -1);
}

header .carousel .item:nth-child(2) {
  -webkit-animation-delay: calc(3.85714s * 0);
          animation-delay: calc(3.85714s * 0);
}

header .carousel .item:nth-child(3) {
  -webkit-animation-delay: calc(3.85714s * 1);
          animation-delay: calc(3.85714s * 1);
}

header .carousel .item:nth-child(4) {
  -webkit-animation-delay: calc(3.85714s * 2);
          animation-delay: calc(3.85714s * 2);
}

header .carousel .item:nth-child(5) {
  -webkit-animation-delay: calc(3.85714s * 3);
          animation-delay: calc(3.85714s * 3);
}

header .carousel .item:nth-child(6) {
  -webkit-animation-delay: calc(3.85714s * 4);
          animation-delay: calc(3.85714s * 4);
}

header .carousel .item:last-child {
  -webkit-animation-delay: calc(-3.85714s * 2);
          animation-delay: calc(-3.85714s * 2);
}

header .carousel .item h2 {
  font-size: 2.5rem;
  font-family: monospace;
  margin-top: 4rem;
  position: relative;
}

header .carousel .item h2 span {
  font-size: 1.4rem;
  display: block;
  opacity: 0.6;
  margin-top: 0.5rem;
}

header .carousel .item h2 .learn-more {
  position: absolute;
  right: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  font-size: 1.6rem;
  top: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  text-decoration: underline !important;
  text-underline-offset: 4px;
  overflow: visible;
  display: none;
}

header .carousel .item p {
  font-size: 1.6rem;
  line-height: 2.8rem;
  margin-top: 2rem;
}

header .carousel img {
  height: 18rem;
  width: auto;
  display: block;
  margin: auto;
}

@-webkit-keyframes carouselanimate {
  0% {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateX(200%) scale(0.7);
            transform: translateX(200%) scale(0.7);
    color: transparent;
    button.learn-more {
      color: transparent !important;
    }
  }
  3%, 14.29% {
    visibility: visible;
    opacity: 0.8;
    -webkit-transform: translateX(100%) scale(0.9);
            transform: translateX(100%) scale(0.9);
    color: transparent;
    .learn-more {
      color: transparent !important;
    }
  }
  17.29%, 28.57% {
    visibility: visible;
    opacity: 1;
    color: #161718;
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
  31.57%, 42.86% {
    visibility: visible;
    opacity: 0.8;
    -webkit-transform: translateX(-100%) scale(0.9);
            transform: translateX(-100%) scale(0.9);
    color: transparent;
    .learn-more {
      color: transparent !important;
    }
  }
  45.86% {
    visibility: visible;
    opacity: 0;
    -webkit-transform: translateX(-200%) scale(0.9);
            transform: translateX(-200%) scale(0.9);
    color: transparent;
    .learn-more {
      color: transparent !important;
    }
  }
  100% {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateX(-200%) scale(0.7);
            transform: translateX(-200%) scale(0.7);
    color: transparent;
    .learn-more {
      color: transparent !important;
    }
  }
}

@keyframes carouselanimate {
  0% {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateX(200%) scale(0.7);
            transform: translateX(200%) scale(0.7);
    color: transparent;
    button.learn-more {
      color: transparent !important;
    }
  }
  3%, 14.29% {
    visibility: visible;
    opacity: 0.8;
    -webkit-transform: translateX(100%) scale(0.9);
            transform: translateX(100%) scale(0.9);
    color: transparent;
    .learn-more {
      color: transparent !important;
    }
  }
  17.29%, 28.57% {
    visibility: visible;
    opacity: 1;
    color: #161718;
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
  31.57%, 42.86% {
    visibility: visible;
    opacity: 0.8;
    -webkit-transform: translateX(-100%) scale(0.9);
            transform: translateX(-100%) scale(0.9);
    color: transparent;
    .learn-more {
      color: transparent !important;
    }
  }
  45.86% {
    visibility: visible;
    opacity: 0;
    -webkit-transform: translateX(-200%) scale(0.9);
            transform: translateX(-200%) scale(0.9);
    color: transparent;
    .learn-more {
      color: transparent !important;
    }
  }
  100% {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateX(-200%) scale(0.7);
            transform: translateX(-200%) scale(0.7);
    color: transparent;
    .learn-more {
      color: transparent !important;
    }
  }
}

footer {
  width: 100vw;
  background-color: white;
  padding: 5rem 0;
  border-bottom: 1rem solid #3bb357;
  margin-bottom: 20rem;
  position: relative;
  z-index: 500;
}

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
}

footer .wrapper .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer .wrapper .row ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
  width: 50%;
}

footer .wrapper .row ul li strong {
  font-size: 2rem;
  font-family: monospace;
}

footer .wrapper .row ul li a {
  font-size: 1.6rem;
  color: #161718;
}

footer .wrapper .row:last-of-type ul li a {
  font-size: 1.4rem;
}

#footer-logo {
  padding-top: 200rem;
  padding-bottom: 5rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 0;
  background-color: #161718;
}

#footer-logo .wrapper {
  background-image: url("../assets/images/footer_logo.png");
  background-size: contain;
  background-position: center;
  height: 10rem;
  background-color: transparent;
  background-repeat: no-repeat;
}

section {
  padding: 0rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#ffffff));
  background: linear-gradient(to bottom, #e3e3e3, #ffffff);
  background: white;
  position: relative;
  z-index: 500;
}

section p.info {
  font-size: 2rem;
  line-height: 3.5rem;
  text-align: center;
  margin-block: 4rem 2rem;
  display: none;
}

section img {
  width: 100%;
  border-top: 1px solid #1111111c;
}
/*# sourceMappingURL=style.css.map */